.active {
    background-color: #2196F3;
    color: #FFFFFF;
    font-size: 12px;
    width: 168px;
    padding: 15px;
    border: none;
}
.button {
    font-size: 12px;
    width: 168px;
    padding: 15px;
    color: #4A4A4A;
    background: #FFFFFF;
    border: solid 1px #DFE5EC;
}