.wrapper {
    padding: 0;
    margin: 0;
    background-color: #F3F7FA;
    display: grid;
    grid-template-areas: 'h h'
                        's m';
    grid-template-rows: 60px 1fr;
    grid-template-columns: 355px 1fr;
    gap: 50px;
}

@media  (max-width: 950px) {
    .wrapper {
        grid-template-columns: auto 1fr;
        padding-left: 5vw;
    }
}

@media  (max-width: 870px) {
    .wrapper {
        grid-template-columns: auto 1fr;
        padding-left: 5vw;
    }
}